html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

th {
    word-wrap: break-word;
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
}

td {
    word-wrap: break-word;
    overflow: hidden;
    max-width: 150px;
    max-height: 300px;
}

.tableData {
    word-wrap: break-word;
    overflow: hidden;
    max-width: 150px;
    max-height: 300px;
}